.sidebar {
	min-height: 100vh;
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #121212;
	padding: 10px 15px;
}

.sidebar .top {
	margin-top: 15px;
}

.sidebar img {
	width: 20px;
}

.sidebar .menu {
	display: block;
	margin-left: 10px;
	cursor: pointer;
	color: #EAEAEA;
	/* Softer menu text color */
}

.sidebar .new-chat {
	margin-top: 50px;
	display: inline-flex;
	align-items: center;
	gap: 10px;
	padding: 10px 15px;
	background-color: #2a2a2a;
	border-radius: 50px;
	font-size: 14px;
	color: #CFCFCF;
	/* Calmer text for new chat button */
	cursor: pointer;
}

.sidebar .recent {
	display: flex;
	flex-direction: column;
	animation: fadeIn 2.0s;
}

.sidebar .recent-title {
	margin-top: 30px;
	margin-bottom: 20px;
	color: #DADADA;
	/* Adjusted recent title color */
}

.sidebar .recent-entry {
	display: flex;
	align-items: start;
	gap: 10px;
	padding: 10px;
	padding-right: 40px;
	border-radius: 50px;
	color: #EAEAEA;
	/* Softer text for recent entries */
	cursor: pointer;
}

.sidebar .recent-entry:hover {
	background-color: #3a3a3a;
}

.sidebar .bottom {
	display: flex;
	flex-direction: column;
}

.sidebar .bottom-item {
	padding-right: 10px;
	cursor: pointer;
	color: #DADADA;
	/* Softer text for bottom items */
}

@media (max-width: 600px) {
	.sidebar {
		display: none;
	}
}